table {
    border-spacing: 5px;    
    width: 100%;
}
table,th,td{
    border: 1px  solid black;
    border-collapse: collapse;
}
th,td{
    padding: 15px;

}
td{
    text-align: left;
}
/* Estilo*/
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:200px;
    float:left;
    padding:5px;
}
#section {
    width:75%  ;
    float:left;
    padding:50px;

}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
img{
    width:250px;height:100px;
}